$white: #fff;
$black: #1f2021;
$blue: #0073ae;
$light-blue: #2196d2;
$dark-blue: #14374c;
$grey: #6a747c;
$red: #c92c52;
$violet: #ad2662;


$main-color: $black;
$link-color: $main-color;

$min-width: 320px;
$max-width: 1080px;
$base-bg: $white;
$base-font-size: 1.9rem;
$mobile-font-size: 1.4rem;
$base-line-height: 1.52;
$base-font-family: 'Proxima Nova', sans-serif;
$custom-font-family: 'Oswald', sans-serif;


$default-transition: all .3s linear;